html(lang="en")
    head
        meta(charset="utf-8")
        title Application
    body
        header
            block header
        main
            block content
        footer
            block footer
        script(src="/0.1.0/js/main.js")
