html(lang="en")
    head
        meta(charset="utf-8")
        title Application
        script(src="https://js-de.sentry-cdn.com/e4ce91c8ee6541816d15d5e06e4c0857.min.js", crossorigin="anonymous")
    body
        header
            block header
        main
            block content
        footer
            block footer
        script(src=`/src-ui/${APP_VERSION}/js/main.js`)
        script(src=`/src-other/${APP_VERSION}/js/main.js`)
